body{
font-size:16px;
}

.navbar{
    font-size:0.875em;
    background: url(images/navbar.jpg);
    background-size:cover;
    padding-bottom:1%;
}

a{
color:white;  /*to be changed to white later*/
     font-family: 'Unica One', cursive;
    font-size: 1.5em;
    
}

a:hover{
    color:black; /*to be changed to white later once navbar image is added*/
}

.nav > li > a:hover{
    background-color: transparent;
    
}

.fremantle{
    /*color:white; */
    font-size:2.0em;
     font-family: 'Unica One', cursive;
}

.navbar-toggle .icon-bar{
    background-color: white;
}

.herobg{  /*img needs to be changed as it is blurry*/
    background: url(images/header-bg.jpg);
    background-size: cover;
    padding-bottom: 10%;
}

.herobg h1{
    font-family: 'Unica One', cursive;
    float:right;
    color:#ffff;
    width:361px;
    font-size:3.4em;
    font-weight:400;
    margin-top:100px;
    text-align:left;
    padding-bottom:10%;
}

.eventsbg{
    padding-bottom:15%;
    
}

/*.oceanalley{
    padding-top: 15%;
    
}*/

.eventsbg h2{
    font-size:2.4em; 
    font-family: 'Bungee Shade', cursive;
    padding-bottom: 10%;
}

.eventsbg h3{
    font-family: 'Backslash', sans-serif;
    font-size:1.8em;
}


p#spaceyjane{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

p#date1{
      font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.eventsbg h4{
    font-family: 'Backslash', sans-serif;
    font-size:1.8em;
}

p#oceanalley{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

p#date2{
      font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}


.eventsbg h5{
    font-family: 'Backslash', sans-serif; 
    font-size:1.8em;
}
   
p#aboriginalartists{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}


p#date3{
      font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}



.creativitybg{
    background: url(images/creativitybg.jpg); /*image is blurry needs to be changed*/
    background-size: cover;
    padding-bottom: 25%;
}

.creativitybg h6{
     font-family: 'Bungee Shade', cursive;
    font-size: 3.0em;
    padding-top: 10%;
    color:white;
}


p#artcentre{
     font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}


.historybg{
    background: url(images/historybg.jpg);
    background-size:cover;
    padding-bottom: 25%;
}

.historybg h7{
     font-family: 'Bungee Shade', cursive;
    font-size: 4.0em;
    padding-top: 15%;
    color: white;
}

p#historytext{
    padding-top: 5%;
      font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

p#historytext2{
      font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

p#historytext3{
      font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

footer{
    padding-bottom: 1%;
    background: url(images/footer.jpg);
    background-size:cover;
}

p#contactinfo{
    padding-top: 3%;
    font-family: 'Nova Round', cursive;
    color:white;
}